<li>
  <div class="vcard">
    <h3 class="fn"><%= email_address.title %></h3>
    <p><%= mail_to email_address.email %></p>
    <% if email_address.description.present? %>
      <div class="email-description">
        <div class="govspeak">
          <%= raw email_address.description %>
        </div>
      </div>
    <% end %>
  </div>
</li>
